html {
  /* Color Palette */
  --primary: var(#067eed); /* 10% */
  --secondary: var(#000305); /* 30% */
  --background: var(#f3f9ff); /* 60% */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #000305;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 10%;
  color: #000305;
}

.logo {
  display: flex;
  height: auto;
  color: #067eed;
}
.logo img {
  width: 40px;
  padding: 5px 0 0 0;
}

/* DESKTOP-NAV */
.nav {
  flex: 1;
  text-align: right;
}
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-links li {
  display: inline;
  margin-left: 20px;
}
.nav-links a {
  color: #f3f9ff;
  font-weight: 600;
  font-size: 20px;
  /* font-variant-caps: all-petite-caps; */
}
.nav-links a:hover {
  text-decoration: none;
  color: #067eed;
}

/* BURGER-TOGGLE */
.burger {
  display: none;
  cursor: pointer;
  position: static;
}
.burger div {
  width: 30px;
  height: 2.5px;
  background-color: #f3f9ff;
  margin: 10px;
}
/* MOBILE-NAV */
.mobile-nav {
  position: fixed;
  top: auto;
  left: 0;
  width: 100%;
  background-color: #000305;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
}
.mobile-nav.active {
  opacity: 1;
  visibility: visible;
}
.mobile-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.mobile-nav li {
  padding: 10px 0;
}
.mobile-nav a {
  text-decoration: none;
  color: #f3f9ff;
  font-size: 1.5rem;
}
.mobile-nav a:hover {
  text-decoration: none;
  color: #067eed;
}

/* MAIN */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  height: 600px;
  padding: 40px 10% 40px 10%;
  background-color: #f3f9ff;
}
/* section {
  width: 100%;

  padding: 0;
  margin: 0 auto;
} */
.body_section {
  display: flexbox;
  align-items: center;
  justify-content: center;
}

/* FOOTER */
footer {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #000305;
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  padding: 40px 10% 40px 10%;
  margin: 0 auto;
  color: #f3f9ff;
  justify-content: center;
}

.footer-logo {
  display: block;
  height: auto;
  color: #067eed;
}
.footer-logo a img {
  width: 80px;
  padding: 40px 0 5px;
}
.cr {
  /* max-width: 1200px; */
  margin: 0px auto;
  padding: 40px 10% 5px;
  color: #f3f9ff;
  text-align: center;
  width: 100%;
}

/* Social ikons */
.social_icons {
  display: flex;
  justify-content: center;
}
.social_icons a {
  text-decoration: none;
  padding: 4px;
  background-color: #f3f9ff;
  margin: 15px 10px 0;
  border: 3px;
  border-radius: 0;
}
.social_icons a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
.social_icons a:hover {
  background-color: #111;
  transition: 0.5s;
}
.social_icons a:hover i {
  color: #067eed;
  transition: 0.5s;
}

/* FONTS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "kaneda-gothic", sans-serif;
  font-style: normal;
}
p,
p1,
p2,
p3 {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5em;
}
a {
  font-family: "poppins", sans-serif;
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: 100px;
  display: flex;
  justify-content: center;
}
h2 {
  font-weight: 700;
  font-size: 80px;
}
h3 {
  font-weight: 700;
  font-size: 60px;
}
h4 {
  font-weight: 700;
  font-size: 40px;
}
h5 {
  font-weight: 700;
  font-size: 30px;
}
h6 {
  font-weight: 700;
  font-size: 20px;
}
p {
  font-weight: 400;
  font-size: 16;
}
p1 {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  justify-content: left;
  margin: 5px 0 50px;
}
p2 {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  justify-content: center;
  margin: -20px 0 80px;
}
p3 {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  justify-content: right;
  margin: -20px 0 80px;
}
a {
  padding: 5px;
}
