/* MOBILE VERSION */

@media screen and (max-width: 650px) {
  .nav {
    display: none; /* Skjuler DESKTOP-NAV navigation på små skærme */
  }

  .burger {
    display: block; /* Viser BURGER-TOGGLE på små skærme */
  }
  /* .title {
    display: block;
    justify-content: center;
  } */
}

@media (min-width: 768px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    height: 100%;
    padding: 40px 10% 40px 10%;
    background-color: var(--background);
  }
  .body_section {
    display: initial;
    align-items: center;
    justify-content: center;
  }

  .footer {
    background-color: #000305;
    color: #067eed;
    padding: 30px 0;
  }
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-column {
    text-align: justify;
  }

  .social_icons {
    justify-content: left;
    padding-top: 15px;
  }
  .footer-logo {
    display: flex;
    justify-content: right;
    align-items: center;
    height: auto;
    color: #067eed;
  }
  .cr {
    text-align: right;
  }
  h1 {
    font-size: 260px;
    display: flex;
    justify-content: center;
  }

  p1 {
    font-weight: 400;
    font-size: 20px;
    justify-content: left;
    margin: -20px 0 80px;
  }
  p2 {
    font-weight: 400;
    font-size: 20px;
    justify-content: center;
    margin: -20px 0 80px;
  }
  p3 {
    font-weight: 400;
    font-size: 20px;
    justify-content: right;
    margin: -20px 0 80px;
  }
}
